@model int

<div class="container row pt-4">
	<div class="col-12 text-center">
		<h2>Thank You</h2>
		<img src="~/files/images/orderconfirmed.png" width="600" height="400"/>
	</div>
	<div class="col-12 text-center">
		<h3>Your order number @Model is successfully placed </h3>
	</div>
</div>
